# Java / Maven
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/HELP.md
*.class
*.jar
*.war
*.ear
*.log

# Angular / Node
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/
npm-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Env
*.env
backend/src/main/resources/application-prod.properties
